.item--add-form {
    &__inputarea {
        min-height: 100px;
        max-height: 500px;
        resize: vertical;
    }
    
    &__radio {
        margin: auto;
        display: flex;
        margin-bottom: 20px;
    }

    &__date {
        text-align: center;
    }
}